<div style="display: flex">
  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input matInput [(ngModel)]="amount" (ngModelChange)="onAmountChange()" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>From Currency</mat-label>
    <mat-select [(ngModel)]="fromCurrency" (ngModelChange)="onAmountChange()">
      <!-- Populate options based on available currencies -->
      <mat-option
        *ngFor="let currency of exchangeRates.rates | keyvalue"
        [value]="currency.key"
        >{{ currency.key }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>

<mat-form-field appearance="outline">
  <mat-label>To Currency</mat-label>
  <mat-select [(ngModel)]="toCurrency" (ngModelChange)="onAmountChange()">
    <!-- Populate options based on available currencies -->
    <mat-option
      *ngFor="let currency of exchangeRates.rates | keyvalue"
      [value]="currency.key"
      >{{ currency.key }}</mat-option
    >
  </mat-select>
</mat-form-field>

<!-- Additional input field to display the converted amount -->
<mat-form-field appearance="outline">
  <mat-label>Converted Amount</mat-label>
  <input
    matInput
    [(ngModel)]="convertedAmount"
    (ngModelChange)="onAmountChange()"
  />
</mat-form-field>
